version: "3.9"

services:
  app:
    build: .
    container_name: fastapi-app
    ports:
      - "8006:8006"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: postgres-melon
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    

  redis:
    image: redis:7
    container_name: redis-melon
    ports:
      - "6379:6379"

volumes:
  pgdata:
